  .{
    margin: 0px;
    padding: 0px;
  }
input{
  height: 4vh;
  width: 40vh;
}
button{
  height: 4vh;
}
#khel{
  height: 98vh;
  position: relative;
  top: 1vh; 
  overflow: hidden;
}
#h1{
  position: relative;
  top: -86vh; left: 12vh;
  color: white;
}
.a{
  overflow: hidden;
}
#h1_1{
  position: relative;
  top: -87vh; left: 9vh;
  color: white;
}
body{
  overflow: hidden;
  background-color: lightblue;
}